
header h1{

    text-align: center;
    font-family: "Dancing Script",cursive ;
}
header h4{
    text-align: center;
    font-family: "Dancing Script",cursive ;
}

h3{
    text-align: center;
    font-family: "Dancing Script",cursive ;
    font-weight: bold;
    color: black;
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: space-around;
}
.image{
    box-shadow: rgba(0, 0, 0, 0.8) 2px 3px;
    margin-bottom:10px;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}